<div class="col-md-10">
  <% if notice %>
    <div class="alert alert-success" role="alert">
      <p id="notice"><%= notice %></p>
    </div>
  <% end %>

  <h1>Keep in touch</h1>
  <p>Let you email below to receive our latest news!</p>

  <%= render 'form', contact: @contact %>
</div>
