<div class="col-md-10">
  <h1>Trackings</h1>

  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">URL</th>
        <th scope="col">User UUID</th>
        <th scope="col">Visited At</th>
      </tr>
    </thead>

    <tbody>
      <% @trackings.each do |tracking| %>
        <tr scope="row">
          <td><%= tracking.url %></td>
          <td><%= tracking.uuid %></td>
          <td><%= tracking.created_at.to_s(:post) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>
</div>
